.content {
    overflow-y: auto;
    height: 95vh;
}
.header {
    background-color: #00BCD4;
    width: 100vw;
}

.menus {
    min-height: 5vh;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}
li {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}

.tradesvg {
    transform: scaleY(-1);
}

.newOfferButton {
    width: 21vw;
    height: 5em;
    margin-top: 3em;
    margin-left: 6vw;
    border: solid;
    border-radius: 1em;
    background-color: #f6e652;
    border-color: #9c5200;
    
}

.newOfferButton:hover {
    background-color: #f6bd20;
}

.tooltipText {
    position: absolute;
    background-color: white;
    padding: 2em;
    border: solid;
    z-index: 2;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    visibility: hidden;
}

.tooltipLogin {
    right: 5em;
    top: 5em;
    width: 30em;
}

.tooltipOffer {
    right: 5em;
    top: 10em;
    width: 30em;
}

.tooltip:hover + .tooltipText {
    visibility: visible;
}
